<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- bean definitions here -->
	<bean class="in.sp.beans.Student" id="stdObj1">
		<property name="name" value="Aayush"></property>
		<property name="rollno" value="100"></property>
	</bean>
	
	<bean class="in.sp.beans.Student" id="stdObj2">
		<property name="name" value="Shashwat"></property>
		<property name="rollno" value="200"></property>
	</bean>
</beans>